<nav>
    <ul>
        @if (tieneAlgunRol([1,4, 2, 3])) {
        <li><a routerLink="/principal">Dashboard</a></li>
        }
        @if (tieneAlgunRol([1, 2 ])) {

        <li><a routerLink="/empresa">Empresa</a></li>}
        @if (tieneAlgunRol([1])) {

        <li><a routerLink="/persona">Persona</a></li>}
        @if (tieneAlgunRol([1, 2])) {

        <li><a routerLink="/proyecto">Proyectos</a></li>}
        @if (tieneAlgunRol([1, 1])) {

        <li><a routerLink="/boleta">Boletas</a></li>}
    
    </ul>

</nav>
