.footer-basic {
    padding: 8px 0;
    background-color: #07112c;
    color: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: none;
    margin: 0;
    z-index: 9999;
    /* Añade esta línea */
}

.footer-basic footer {
    margin: 0;
    padding: 0;
}

.footer-basic .copyright {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    color: #f8f8f8;
}