<h2 mat-dialog-title>  Cambiar contraseña</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin: 20px;">

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Contraseña actual</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput type="password" formControlName="contraseniaActual" required />
   
    <mat-error> @if (form.controls['contraseniaActual'].invalid && form.controls['contraseniaActual'].touched) {
      <mat-icon>vpn_key</mat-icon> La contraseña actual es requerida }</mat-error>
   
  </mat-form-field>


  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nueva contraseña</mat-label>
    <mat-icon matPrefix>lock_open</mat-icon>
    <input matInput type="password" formControlName="nuevaContrasenia" required />
    @if (form.controls['nuevaContrasenia'].invalid && form.controls['nuevaContrasenia'].touched) {
    <mat-error>La nueva contraseña es requerida</mat-error>
    }
    @if (form.controls['nuevaContrasenia'].hasError('minlength') && form.controls['nuevaContrasenia'].touched) {
    <mat-error>Introducir al menos 8 caracteres.</mat-error>
    }
    @if (form.controls['nuevaContrasenia'].hasError('pattern') && form.controls['nuevaContrasenia'].touched) {
    <mat-error> Debe ser alfanumérico </mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">

    <mat-label>Confirmar nueva contraseña</mat-label>
    <mat-icon matPrefix>lock_outline</mat-icon>
    <input matInput type="password" formControlName="confirmarContrasenia" required />
    @if (form.controls['confirmarContrasenia'].invalid && form.controls['confirmarContrasenia'].touched) {
    <mat-error>Debes confirmar la nueva contraseña</mat-error>
    }@if (passwordsNoCoinciden) {
    <mat-error>Las contraseñas no coinciden</mat-error>
    }

  </mat-form-field>

  <div style="text-align: right; margin-top: 16px;">
    <button mat-button type="button" (click)="cancelar()"><mat-icon class="me-1">close</mat-icon>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || passwordsNoCoinciden">
      <mat-icon class="me-1">save</mat-icon>Guardar
    </button>
  </div>
</form>









