<mat-toolbar color="primary">
	<span>Personas</span>
	<span class="spacer"></span>
	<button mat-raised-button color="accent" (click)="nuevaPersona()"matTooltip="Adicionar nueva persona"> <mat-icon>person_add</mat-icon>Adicionar Persona</button>
</mat-toolbar>

<div style="margin: 8px 0;">
	<ag-grid-angular
		style="width: 100%; height: 500px;"
		class="ag-theme-alpine"
		[gridOptions]="gridOptions"
		[rowData]="dataPersonas"
		(gridReady)="onGridReady($event)"
		[columnDefs]="gridOptions.columnDefs"
		[defaultColDef]="gridOptions.defaultColDef"
		[pagination]="gridOptions.pagination"
		[paginationPageSize]="gridOptions.paginationPageSize"
		(cellClicked)="onCellClicked($event)"
		[theme]="theme"
	>
	</ag-grid-angular>
</div>
