<div class="stats-container">
  <mat-card class="stat-card verde">
    <mat-card-header>
      <mat-card-title>Más de 15 días para vencer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="stat-value">
        <mat-icon class="stat-icon">check_circle</mat-icon>
        {{ vencimientoStats.masDe15Dias }}
      </div>
      <div class="stat-description">Todas las boletas</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="stat-card amarillo">
    <mat-card-header>
      <mat-card-title>De 4 a 15 días para vencer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="stat-value"><mat-icon class="stat-icon">done_all</mat-icon>{{ vencimientoStats.de4a15Dias }}</div>
      <div class="stat-description">Todas las boletas</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="stat-card rojo">
    <mat-card-header>
      <mat-card-title>De 0 a 3 días para vencer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="stat-value"><mat-icon class="stat-icon">autorenew</mat-icon>{{ vencimientoStats.de0a3Dias }}</div>
      <div class="stat-description">Todas las boletas</div>
    </mat-card-content>
  </mat-card>
  <mat-card class="stat-card vencido">
    <mat-card-header>
      <mat-card-title>Vencidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="stat-value"><mat-icon class="stat-icon">cancel</mat-icon>{{ vencimientoStats.vencidas }}</div>
      <div class="stat-description">Boletas con fecha pasada</div>
    </mat-card-content>
  </mat-card>
</div>
<div class="charts-container">

  <div class="chart-wrapper">
    <h3>Grafico de Estados de Boletas</h3>
    <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    <div class="botones-exportar">
      <div class="controls-container" style="display: flex; justify-content: flex-end; gap: 12px; margin-bottom: 16px;">
        <button mat-raised-button color="accent" (click)="exportChart1()">
          <mat-icon>download</mat-icon> Descargar gráfico
        </button>

      </div>
    </div>
  </div>
  <!-- Gráfico de tipos -->
  <div class="chart-wrapper">
    <h3>Graficos de Tipos de Boletas</h3>
    <div id="chartipos" style="width: 100%; height: 400px;"></div>
    <!---->
    <div class="controls-container" style="display: flex; justify-content: flex-end; gap: 12px; margin-bottom: 16px;">
      <button mat-raised-button color="accent" (click)="exportChart2()">
        <mat-icon>download</mat-icon> Descargar gráfico 2
      </button>
    </div>
    <!---->
  </div>
</div>