.app-container {
	display: flex;
	min-height: 100vh;
}

main {
	flex: 1;
	/*margin-left: 250px;
	padding: 20px;*/
	background-color: aqua;
}

@media (max-width: 768px) {
	main {
		margin-left: 70px;
	}
}
