
<h2 mat-dialog-title> Crear Usuario</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Roles</mat-label>
    <mat-select formControlName="roles" multiple>
      <ngx-mat-select-search placeholderLabel="Buscar rols..." [formControl]="rolFiltroControl"
        noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
      @for (rol of rolesFiltradosList; track rol.id) {
      <mat-option [value]="rol.id">{{ rol.nombre }}</mat-option>
      }
    </mat-select>
    @if (form.get('roles')?.hasError('required') || form.get('roles')?.hasError('minlength')) {
    <mat-error>
      Debe seleccionar al menos un rol.
    </mat-error>
    }
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="submit()">
      Crear Usuario
    </button>
  </mat-dialog-actions>
</mat-dialog-content>