<mat-tab-group>


    <mat-tab label="ACTIVIDADES" class="actividades">
        <div class="boton-crear">
            <button mat-raised-button color="accent" (click)="nuevaActividad()">
                <mat-icon>add_box</mat-icon> Nueva Actividad
            </button>
        </div>
        <div class="card-container">
            <mat-card class="actividad-card" *ngFor="let actividad of dataActividad">
                <mat-card-header>
                    <mat-card-title>{{ actividad.descripcion }}</mat-card-title>
                </mat-card-header>
                <mat-card-actions *ngIf="actividad.id !== undefined">

                    <button class="btn btn-warning" (click)="editarActividad(actividad.id!)" aria-label="Editar">
                        <mat-icon>edit</mat-icon></button>
                    <button class="btn btn-danger" (click)="eliminaractividad(actividad.id!)" aria-label="Eliminar">
                        <mat-icon>delete</mat-icon></button>

                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="ENTIDADES FINANCIERAS">
        <div class="boton-crear">
            <button mat-raised-button color="accent"
                (click)="nuevaEntidadFinanciera()"><mat-icon>add_box</mat-icon>Nueva
                Entidad Financiera
            </button>
        </div>
        <div class="card-container">

            <mat-card class="entidadFinanciera-card" *ngFor="let entidadFinanciera of dataEntidadFinanciera">

                <mat-card-header>
                    <mat-card-title>{{ entidadFinanciera.nombre }}</mat-card-title>
                </mat-card-header>

                <mat-card-actions *ngIf="entidadFinanciera.id !== undefined">
                    <button class="btn btn-warning" (click)="editarEntidadFinanciera(entidadFinanciera.id!)"
                        aria-label="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button class="btn btn-danger" (click)="eliminarEntidadFinanciera(entidadFinanciera.id!)"
                        aria-label="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>

                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="DEPARTAMENTOS">
        <div class="boton-crear">
            <button mat-raised-button color="accent" (click)="nuevoDepartamento()"><mat-icon>add_box</mat-icon>Nuevo
                Departamento</button>
        </div>
        <div class="card-container">

            <mat-card class="departamento-card" *ngFor="let departamento of dataDepartamento">

                <mat-card-header>
                    <mat-card-title>{{ departamento.nombre }}</mat-card-title>
                    <mat-card-subtitle>{{ departamento.nombre_reducido }}</mat-card-subtitle>

                </mat-card-header>

                <mat-card-actions *ngIf="departamento.id !== undefined">

                    <button class="btn btn-warning" (click)="editarDepartamento(departamento.id!)" aria-label="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button class="btn btn-danger" (click)="eliminarDepartamento(departamento.id!)"
                        aria-label="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>

                </mat-card-actions>

            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="TIPO BOLETAS">
        <div class="boton-crear">
            <button mat-raised-button color="accent" (click)="nuevoTipoBoleta()"><mat-icon>add_box</mat-icon>Nuevo
                Tipo de Boletas
            </button>
        </div>
        <div class="card-container">

            <mat-card class="tipo-card" *ngFor="let tipo of dataTipo">

                <mat-card-header>
                    <mat-card-title>{{ tipo.nombre }}</mat-card-title>
                </mat-card-header>

                <mat-card-actions *ngIf="tipo.id !== undefined">
                    <button class="btn btn-warning" (click)="editarTipoBoleta(tipo.id!)" aria-label="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn btn-danger" (click)="eliminarTipo(tipo.id!)" aria-label="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>