<button class="btn btn-warning btn-sm" (click)="editar()" matTooltip="Editar">
	<mat-icon class="fs-5">edit</mat-icon>
</button>
<button class="btn btn-danger btn-sm" (click)="eliminar()" matTooltip="Eliminar">
	<mat-icon class="fs-5">delete</mat-icon>
</button>
<button class="btn btn-primary btn-sm" (click)="crearUsuario()" matTooltip="Crear Usuario" *ngIf="sinUsuario">
	<mat-icon class="fs-5">person_add</mat-icon>
</button>
<button class="btn btn-success btn-sm" (click)="editarRol()" matTooltip="Editar Rol" *ngIf="!sinUsuario">
	<mat-icon class="fs-5">manage_accounts</mat-icon>
</button>
