<mat-grid-list cols="2" rowHeight="2:2">
  <mat-card *ngIf="persona">
    <mat-grid-list cols="2" rowHeight="2:0.9">
      <mat-grid-tile>
        <div class="form-avatar">
          <img [src]="imagenPreview " alt="Avatar" class="perfil-foto"/>
        </div>
       

        <button mat-raised-button color="accent" (click)="subirImagen()">
          Subir Imagen
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-header>
          <mat-card-title>Perfil de Usuario</mat-card-title>
          <mat-card-subtitle>
            {{ persona.usuario?.username || 'Sin usuario' }}
            <br />
            <button mat-raised-button color="accent" (click)="cambiarPassword()">
              Cambiar contraseña
            </button>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-card-content>
        <div style="display: flex; flex-direction: row; gap: 32px;">
          <div style="flex: 1;">
            <p><strong>CI:</strong> {{ persona.ci }} {{ persona.departamento?.nombre_reducido }}</p>
            <p><strong>Nombre:</strong> {{ persona.nombres }} {{ persona.apellido_paterno }} {{ persona.apellido_materno
              }}</p>
            <p><strong>Correo:</strong> {{ persona.correo }}</p>
            <p><strong>Dirección</strong> {{ persona.direccion}}</p>
          </div>
          <div style="flex: 1;">
            <p><strong>Cargo:</strong> {{ persona.cargo }}</p>
            <p><strong>Unidad:</strong> {{ persona.unidad }}</p>
            <p><strong>Teléfono:</strong> {{ persona.telefono }}</p>
            <p><strong>Roles:</strong>
              <ng-container *ngIf="persona.roles && persona.roles.length > 0; else sinRoles">
                <span *ngFor="let rol of persona.roles; let i = index">
                  {{ rol.nombre }}<span *ngIf="i < persona.roles.length - 1">, </span>
                </span>
              </ng-container>
              <ng-template #sinRoles>Sin roles asignados</ng-template>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-grid-list>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="editar()">Editar</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>