.header-basic[_ngcontent-ng-c1690134656] {
	padding: 6px 0;
	background-color: #070435;
	/*#062d53;*/
	align-items: right;
}
.header-container {
	display: flex;
	justify-content : flex-end;/* space-between;*/
	align-items: center;
	padding: 0 1rem;
	height: 60px;
	background-color: #062d53;
	flex-wrap: wrap;
}
/*
.header-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1rem;
	height: 60px;
	background-color: #062d53;
	background: linear-gradient(to right, #062d53, #00479e);
}*/
@media (max-width: 768px) {
	.btn-outline-profile {
		font-size: 0.75rem;
		padding: 2px 6px;
		gap: 10px;
	}

	.perfil-wrapper {
		justify-content: center;
		width: 100%;
	}
}

.perfil-wrapper {
	display: flex;
	justify-content: flex-end;
}

.btn-outline-profile {
	padding: 4px 8px;
	font-size: 0.85rem;
	height: 45px;
	display: flex;
	align-items: center;
	gap: 22px;
	background-color: #1b07d400;
	border: 1px solid #ffffff4b;
	color: #ffffff;
	box-shadow: none;
}

.btn-outline-profile img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #ffffff;
	border-radius: 4px;
	z-index: 100%;
	padding: 0.5rem;
	font-size: 0.85rem;
	line-height: 1.2;

}


.cargo {
	font-size: 0.65rem;
	color: #1f1f1f;
	margin-left: 0px;
	line-height: 0.2;
	font-weight: 200;
	text-align: center;
}

.nombre {
	font-size: 0.85rem;
	color: #000000;
	margin-left: 0px;
	line-height: 1.2;
	text-align: center;
}
