<div class="login-container">
  <form [formGroup]="formLogin" (ngSubmit)="onActionClickLogin()">
    <h2> Inicio de sesión</h2>



    <div class="form-group" appearance="fill" > 
      <label for="username">Usuario: *</label>
      <input id="username" formControlName="username" type="username" />
    </div>

    <div class="form-group">
      <label for="password">Password: *</label>
      <input id="password" formControlName="password" type="password" placeholder="••••••••" />
    </div>

    <div class="form-options">
      <label>
        <input type="checkbox" />
        Recuerdame
      </label>

    </div>

    <button type="submit" [disabled]="formLogin.invalid">Inicia sesión</button>

  </form>
</div>