<mat-card>
	<mat-card-header>
		<mat-card-title>Gestión de Proyectos</mat-card-title>
		<mat-card-subtitle>Listado de todos los proyectos</mat-card-subtitle>
	</mat-card-header>

<mat-card-actions style="display: flex; justify-content: flex-end; align-items: center; gap: 12px;">		<button mat-raised-button color="primary" (click)="abrirModalCrear()">
			<mat-icon>add</mat-icon> Nuevo Proyecto
		</button>
		<button mat-raised-button color="accent" (click)="abrirDialogoReporte()">
			<mat-icon>download</mat-icon> Exportar Proyectos
		</button>
	</mat-card-actions>

	<mat-card-content>

		<ag-grid-angular
			style="width: 100%; height: 500px;"
			[theme]="theme"
			[gridOptions]="gridOptions"
			[rowData]="proyectos"
			[pagination]="true"
			(gridReady)="onGridReady($event)">
		</ag-grid-angular>

	</mat-card-content>

</mat-card>
