<h2 mat-dialog-title color="primary">
    <mat-icon>person_add</mat-icon>
    @if (esEdicion) {
    Editar Persona
    } @else {
    Registrar Persona
    }
</h2>

<hr />
<mat-dialog-content>

    <form [formGroup]="formPersona">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>CI</mat-label>
                    <mat-icon matIconPrefix>badge</mat-icon>
                    <input matInput formControlName="ci" [readonly]="esEdicion" />
                    @if (formPersona.get('ci')?.hasError('required')) {
                    <mat-error>El CI es obligatorio</mat-error>
                    }
                    @if (formPersona.get('ci')?.hasError('pattern')) {
                    <mat-error>El CI debe contener solo números</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Departamento</mat-label>
                    <mat-icon matIconPrefix>location_on</mat-icon>
                    <mat-select formControlName="departamento_id">
                        @for (ac of dataDepartamento; track ac.id) {
                        <mat-option [value]="ac.id">{{ ac.nombre }}</mat-option>
                        }
                    </mat-select>
                    @if (formPersona.get('departamento_id')?.hasError('required')) {
                    <mat-error>Debe seleccionar un departamento</mat-error>
                    }
                </mat-form-field>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nombres</mat-label>
                    <mat-icon matIconPrefix>person</mat-icon>
                    <input matInput formControlName="nombres" />
                    @if (formPersona.get('nombres')?.hasError('required')) {
                    <mat-error>Debe introducir al menos un nombre.</mat-error>
                    }
                    @if (formPersona.get('nombres')?.hasError('minlength')) {
                    <mat-error>El nombre debe tener al menos 3 caracteres</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Paterno</mat-label>
                    <mat-icon matIconPrefix>person_outline</mat-icon>
                    <input matInput formControlName="apellido_paterno" />
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Materno</mat-label>
                    <mat-icon matIconPrefix>person_outline</mat-icon>
                    <input matInput formControlName="apellido_materno" />
                </mat-form-field>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Correo</mat-label>
                    <mat-icon matIconPrefix>email</mat-icon>
                    <input matInput type="email" formControlName="correo" />
                    @if (formPersona.get('correo')?.hasError('required')) {
                    <mat-error>El correo es obligatorio</mat-error>
                    }
                    @if (formPersona.get('correo')?.hasError('email')) {
                    <mat-error>Formato de correo inválido</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Cargo</mat-label>
                    <mat-icon matIconPrefix>work</mat-icon>
                    <input matInput formControlName="cargo" />
                </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Unidad</mat-label>
                    <mat-icon matIconPrefix>apartment</mat-icon>
                    <input matInput formControlName="unidad" />
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Dirección</mat-label>
                    <mat-icon matIconPrefix>home</mat-icon>
                    <input matInput formControlName="direccion" />
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Teléfono</mat-label>
                    <mat-icon matIconPrefix>phone</mat-icon>
                    <input matInput formControlName="telefono" />
                    @if (formPersona.get('telefono')?.hasError('required')) {
                    <mat-error>El teléfono es obligatorio</mat-error>
                    }
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">
        <mat-icon>close</mat-icon> Cancelar
    </button>

    <button mat-raised-button color="primary" (click)="registrar()">
        <mat-icon>
            @if (esEdicion) {save} @else {person_add}
        </mat-icon>
        @if (esEdicion) {
        Guardar cambios
        } @else {
        Registrar
        }
    </button>
</mat-dialog-actions>
